body {
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: top;
    color: white;
    font-family: "Exo 2";
}

a {
    color: lightskyblue;
    text-decoration: none;
}

article {
    width: 483px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

#me {
    display: flex;
    flex-direction: row;
}

#me img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

#name-data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    font-size: xx-large;
}

.realname {
    opacity: 0;
    color: grey;
}

#me #nickname {
    transition: right 0.2s;
}

#me .realname {
    transition: opacity 0.2s;
}

#me:hover #nickname {
    right: 0px;
}

#me:hover .realname {
    opacity: 1;
}

.greytowhite {
    transition: color 0.2s;
    color: grey;
}

#me:hover .greytowhite {
    color: white;
}

#nickname {
    position: relative;
    right: 90px;
}

#social-links {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

#rs {
    display: flex;
    flex-direction: row;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -5px;
}

#rs a {
    padding: 0 5px 0 5px;
    color: lightgray;
    transition: color 0.2s;
}

#rs a:hover {
    transition: all 0.2s;
}

#rs a:hover::before {
    content: "> ";
}

#rs a:hover::after {
    content: " <";
}

.key {
    color: #aaa;
    padding-right: 12px;
    font-weight: bold;
}

#desc {
    text-align: justify;
}

.projects .title {
    font-size: larger;
}

ul {
    margin-top: 2px;
}

.head {
    font-weight: bold;
}

#sml-osu:hover {
    color: #f06fa9;
}

#sml-spotify:hover {
    color: #18d860;
}

#sml-twitter:hover {
    color: #1da1f2;
}

#sml-reddit:hover {
    color: #ff4300;
}

#sml-github:hover {
    color: white;
}