body {
    align-items: center;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Exo 2";
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

article {
    align-self: center;
    background-color: #222222;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 8px #222222;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    width: 550px;
}

h3 {
    margin-bottom: 0%;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

#me {
    display: flex;
    flex-direction: row;
}

#me img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

#name-data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    font-size: xx-large;
}

.realname {
    opacity: 0;
    color: grey;
}

#me #nickname {
    transition: right 0.2s;
}

#me .realname {
    transition: opacity 0.2s;
}

#me:hover #nickname {
    right: 0px;
}

#me:hover .realname {
    opacity: 1;
}

.greytowhite {
    transition: color 0.2s;
    color: grey;
}

#me:hover .greytowhite {
    color: white;
}

#nickname {
    position: relative;
    right: 90px;
}

#social-links {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

#rs {
    display: flex;
    flex-direction: row;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -5px;
}

#rs a {
    padding: 0 5px 0 5px;
    color: lightgray;
    transition: color 0.2s;
}

#rs a:hover {
    transition: all 0.2s;
    text-decoration: overline underline;
}

#rs a:hover::before {
    content: "> ";
}

#rs a:hover::after {
    content: " <";
}

.key {
    color: #aaa;
    padding-right: 12px;
    font-weight: bold;
}

#desc {
    text-align: justify;
    margin-top: 10px;
}

ul {
    margin-top: 2px;
}

.head {
    font-weight: bold;
}

#sml-osu:hover {
    color: #f06fa9;
}

#sml-spotify:hover {
    color: #18d860;
}

#sml-twitter:hover {
    color: #1da1f2;
}

#sml-reddit:hover {
    color: #ff4300;
}

#sml-github:hover {
    color: white;
}

#sml-linkedin:hover {
    color: #0e76a8;
}

.urca {
    color: lightgray;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 5px;
}

.link {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    gap: 6px;
    padding: 5px;
    width: 100%;
}

.link, .link-desc, .link-desc::before {
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.link:hover {
    background-color: rgba(120, 190, 240, 1);
    box-shadow: 0 0 3px rgba(120, 190, 240, 1);
}

.link img {
    height: 22px;
    width: auto;
}

.link-title {
    font-weight: bold;
}

.link-desc, .link-desc::before {
    color:rgba(255, 255, 255, 0.8)
}

.link:hover, .link:hover .link-desc, .link:hover .link-desc::before {
    color: black;
}

.link-desc::before {
    content: "•";
    margin-right: 5px;
}

.projects .help, .projects .title {
    margin-bottom: 10px;
    color: lightgray;
}

.project {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    font-size: 90%;
}

.project:last-of-type {
    margin-bottom: 0;
}

.project .img {
    min-width: 95px;
    height: 95px;
}

.project img {
    border-radius: 10px;
    width: 95px;
    height: 95px;
}

.project .description {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 0 10px 10px 0px;
}

.project .en-tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 10px 0 10px;
}

.project .en-tete {
    color: darkgray;
}

.project .en-tete .title {
    color: white;
    font-size: larger;
}

.project-desc {
    padding: 5px 10px 0 10px;
}

.badge {
    border-radius: 4px;
    font-size: smaller;
    font-weight: 550;
    padding: 2px 4px 2px 4px;
}

.badges {
    margin: -10px 0 0 10px;
}

.badge.discord {
    background-color: #5865F2;
}

.badge.hack {
    background-color: brown;
}

.badge.javascript {
    background-color: #f7d71e;
    color: black;
}

.badge.typescript {
    background-color: #3178c6;
}

.badge.csharp {
    background-color: #009404;
}

.badge.android {
    background-color: #a5c736;
    color: black;
}

.badge.flutter {
    background-color: #28b6f6;
    color: black;
}

.badge.comproject {
    background-color: orange;
    color: black;
}

.badge.github {
    background-color: #fafbfc;
    color: black;
}
