html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: black url("images/bg.png") no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    color: white;
    font-family: "Exo 2";
    line-height: 1.2;
    display: flex;
    justify-content: space-around;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

article {
    align-self: center;
    display: inline-block;
    padding: 20px;
    width: 523px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

#me {
    display: flex;
    flex-direction: row;
}

#me img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

#name-data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    font-size: xx-large;
}

.realname {
    opacity: 0;
    color: grey;
}

#me #nickname {
    transition: right 0.2s;
}

#me .realname {
    transition: opacity 0.2s;
}

#me:hover #nickname {
    right: 0px;
}

#me:hover .realname {
    opacity: 1;
}

.greytowhite {
    transition: color 0.2s;
    color: grey;
}

#me:hover .greytowhite {
    color: white;
}

#nickname {
    position: relative;
    right: 90px;
}

#social-links {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

#rs {
    display: flex;
    flex-direction: row;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -5px;
}

#rs a {
    padding: 0 5px 0 5px;
    color: lightgray;
    transition: color 0.2s;
}

#rs a:hover {
    transition: all 0.2s;
    text-decoration: overline underline;
}

#rs a:hover::before {
    content: "> ";
}

#rs a:hover::after {
    content: " <";
}

.key {
    color: #aaa;
    padding-right: 12px;
    font-weight: bold;
}

#desc {
    text-align: justify;
    margin-top: 10px;
}

.projects-title {
    font-size: larger;
}

ul {
    margin-top: 2px;
}

.head {
    font-weight: bold;
}

#sml-osu:hover {
    color: #f06fa9;
}

#sml-spotify:hover {
    color: #18d860;
}

#sml-twitter:hover {
    color: #1da1f2;
}

#sml-reddit:hover {
    color: #ff4300;
}

#sml-github:hover {
    color: white;
}

#sml-linkedin:hover {
    color: #0e76a8;
}

.urca {
    color: lightgray;
}

.projects .help, .projects .title {
    margin-bottom: 10px;
    color: lightgray;
}

.project {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 90%;
}

.project .img {
    min-width: 95px;
    height: 95px;
}

.project img {
    border-radius: 10px;
    width: 95px;
    height: 95px;
}

.project .description {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 0 10px 10px 0px;
}

.project .en-tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 10px 0 10px;
}

.project .en-tete {
    color: darkgray;
}

.project .en-tete .title {
    color: white;
    font-size: larger;
}

.project-desc {
    padding: 5px 10px 0 10px;
}

.badge {
    border-radius: 4px;
    font-size: smaller;
    font-weight: 550;
    padding: 2px 4px 2px 4px;
}

.badges {
    margin: -10px 0 0 10px;
}

.badge#discord {
    background-color: #5865F2;
}

.badge#javascript {
    background-color: #f7d71e;
    color: black;
}

.badge#typescript {
    background-color: #3178c6;
}

.badge#android {
    background-color: #a5c736;
    color: black;
}

.badge#flutter {
    background-color: #28b6f6;
    color: black;
}

.badge#project {
    background-color: orange;
    color: black;
}

.badge#github {
    background-color: #fafbfc;
    color: black;
}
